<launch>
  <arg name="reference_image_path" default="$(find visual_tracking)/imgs/ref_img.png" />

  <!-- Tracker Nodes-->
  <node name="tracker_node" pkg="visual_tracking" type="tracker_node" output="screen">
    <rosparam command="load" file="$(find visual_tracking)/config/config.yaml"/>
    <param name="reference_image_path" value="$(arg reference_image_path)"/>
  </node>

  <node name="rviz" type="rviz" pkg="rviz" args="$(find visual_tracking)/config/vtec_tracker.rviz"/>

</launch>